@media (max-width: 768px) {
  .had {
    height: 10vh;
    width: 100%;
    display: flex;
    box-shadow: inset 30vw 0vh 20vw blue;
    background-color: brown;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    top: 0vh;
  }
  .bar {
    font-size: xx-large;
    cursor: pointer;
    margin-left: 5vw;
  }
  .login {
    font-size: xx-large;
    margin-right: 5vw;
  }

  /* game-enterface-wap-page */
  .slid {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1h;
    box-shadow: inset 8vh 0vh 15vh rgba(74, 74, 202, 0.479);
    background-color: rgb(49, 211, 233);
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    z-index: 10000000000000;
    top: 10vh;
    left: -150vw;
    transition: 0.5s;
  }
  .slid.active {
    left: 0;
  }
  .butn {
    height: 5vh;
    width: 28vw;
    box-shadow: inset 8vh 0vh 7vh blue;
    background-color: brown;
    margin-top: 3vh;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .full-screen {
    height: 90vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: transparent;
    border: none;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    z-index: 1000;
    top: 10vh;
    left: -150vw;
    margin-left: 30vw;
    transition: 0.5s;
  }
  .full-screen.active {
    left: 0vw;
  }
  .feed {
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: pink;
    border: none;

    border-radius: 10px;
    position: fixed;
    z-index: 1001;
    top: 15vh;
    left: -150vw;
    margin-left: 30vw;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .feed.active {
    left: 0vw;
  }
  img {
    height: 70vh;
    width: 70vw;
    border-radius: 10px;
    margin-top: 0vh;
    margin-left: 0vw;
  }

  .off {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    position: sticky;
    left: 0vw;
    top: 0vh;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  .off-btn {
    font-size: x-large;
  }
  .help-list,
  .about-list {
    margin-left: 5vw;
    font-size: x-large;
    font-weight: 800;
  }
  .help-list-opt,
  .about-list-opt {
    margin-left: 7vw;
    font-weight: 400;
    font-size: large;
  }
  .halp {
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: rgb(207, 21, 52);
    border: none;
    border-radius: 10px;
    position: fixed;
    z-index: 1001;
    top: 15vh;
    left: -150vw;
    margin-left: 30vw;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .halp.active {
    left: 0vw;
  }
  .come {
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: pink;
    border: none;

    border-radius: 10px;
    position: fixed;
    z-index: 1001;
    top: 15vh;
    left: -150vw;
    margin-left: 30vw;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .come.active {
    left: 0vw;
  }
  .about {
    height: 80vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: rgb(123, 221, 30);
    border: none;

    border-radius: 10px;
    position: fixed;
    z-index: 1001;
    top: 15vh;
    left: -150vw;
    margin-left: 30vw;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .about.active {
    left: 0vw;
  }

  /* game-enterface-wap-page */
  .gam-intfac {
    height: 25vh;
    width: 100%;
    box-shadow: inset 3vh 0vh 15vh blue;
    background-color: aqua;
    position: relative;
    top: 5vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .free-fire {
    height: 20vh;
    width: 30vw;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 2vw;
    transition: 0.6s;
  }
  .bgmi {
    height: 25vh;
    width: 30vw;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 35vw;
    transition: 0.6s;
  }
  .ludo-king {
    height: 20vh;
    width: 30vw;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 68vw;
    transition: 0.6s;
  }
  /* wab-page inter-face */
  .gun-mach {
    height: 25vh;
    box-shadow: inset 2vh 0vh 15vh blue;
    background-color: aqua;
    display: flex;
    position: relative;
    top: 10vh;
    overflow-x: auto;
    scrollbar-width: none;
    border-radius: 5px;
  }
  .gun-intfac-free-fire {
    height: 25vh;
    background-color: transparent;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    position: absolute;
  }
  .img {
    height: 20vh;
    width: 50vw;

    background-color: black;
    margin-left: 2vh;
    flex: none;
    border-radius: 10px;
    border: none;
  }

  .gun-intfac-bgmi {
    height: 25vh;
    background-color: transparent;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    position: absolute;
  }
  .gun-intfac-ludo {
    height: 25vh;
    background-color: transparent;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    position: absolute;
  }
  /* free mach */
  .card {
    height: 30vh;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 10vh;
    margin-top: 5vh;
  }
  .iner-card {
    height: 30vh;
    width: 94vw;
    background-color: brown;
    position: relative;
    left: 5vw;
    border-radius: 9px;
  }
  .img-card {
    height: 28vh;
    width: 40vw;
    background-color: black;
    position: absolute;
    top: 1vh;
    left: 0vh;
    border-radius: 9px;
  }
  .mach-titel {
    position: absolute;
    left: 55vw;
    font-size: x-large;
  }
  .pleyar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40vw;
    top: 3vh;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(238, 14, 14);
    width: 7vw;
    height: 4vh;
  }
  .mach-map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 49vw;
    top: -1vh;
    font-size: large;
    border-radius: 5px;
    background-color: blue;
    width: 16vw;
    height: 4vh;
  }
  .gun-titel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30vw;
    top: -1vh;
    font-size: larger;
    border-radius: 10px;
    background-color: transparent;
    width: 42vw;
    height: 7vh;
  }

  .hr {
    position: relative;
    top: 0vh;
  }

  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 32vw;
    top: 0vh;
    font-size: larger;
    border-radius: 10px;
    background-color: transparent;
    width: 32vw;
  }
  .win-prize {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 31vw;
    top: -3vh;
    font-size: x-large;
    border-radius: 10px;
    background-color: transparent;
    width: 32vw;
    height: 7vh;
  }
  .kill {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60vw;
    top: -10vh;
    font-size: x-large;
    border-radius: 10px;
    background-color: transparent;
    width: 20vw;
    height: 7vh;
  }
  #pay-btn {
    position: absolute;
    left: 40vw;
  }
}
